<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <div id="root">
      <!-- header -->
        <%- include('_partial/header') -%>
      <!-- / header -->

      <!-- content -->
        <div class="content">
            <h1>SourceMap</h1>
            <p>Enables source map support, postcss-loader will use the previous source map given by other loaders and update it accordingly, if no previous loader is applied before postcss-loader, the loader will generate a source map for you.</p>
        </div>
      <!-- / content -->

      <!-- footer -->
        <%- include('_partial/footer') -%>
      <!-- / footer -->
    </div>
  </body>
</html>