<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body class="page">
    <div class="wrrper">
      <!-- header -->
        <%- include('_partial/header') -%>
      <!-- / header -->

      <!-- content -->
        <div class="content">
          <div class="main">
            <h1 id="window-size">window size <span id="window-size-width"></span>px x <span id="window-size-height"></span>px</h1>
            <p>Enables source map support, postcss-loader will use the previous source map given by other loaders and update it accordingly, if no previous loader is applied before postcss-loader, the loader will generate a source map for you.</p>
          </div>
          <div class="sub">
            <h1>SourceMap</h1>
            <p>Enables source map support, postcss-loader will use the previous source map given by other loaders and update it accordingly, if no previous loader is applied before postcss-loader, the loader will generate a source map for you.</p>
            <img src="../images/Dan.png" alt="">
          </div>
        </div>
      <!-- / content -->

      <!-- footer -->
        <%- include('_partial/footer') -%>
      <!-- / footer -->
    </div>
  </body>
</html>