@import '../../node_modules/sanitize.css/sanitize.css';
@import '_components/index.css';

.page {
    background: gray;
}

.wrrper {
    background: deeppink;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 60px 1fr 60px;
}

.header {
    background: turquoise url(../images/Dominque.png);

    &__title {
    }
}

.content {
    background: lime;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main {
    background: white url(../images/Russell.png);
}

.sub {
    background: tomato;
}

.footer {
    background: yellow;

    &__copyright {
        text-align: center;
    }
}

