@import '_components/index.css';
$blue: #056ef0;
$column: 200px;

.red {
    color: red;
}

.blue {
    color: $blue;
}

@define-mixin icon $name {
    padding-left: 16px;

    &::after {
        background-url: url('/icons/$name.png');
        content: "";
    }
}

@define-extend bg-green {
    background: green;
}

@define-extend bg-yellow {
    background: yellow;
}

.search {
    @mixin icon search;
    @extend bg-green;
    color: $blue !important;
}

.menu {
    width: calc(4 * $column);
    background: color($blue blackness(20%));
}

.notice {
    @if 3 < 5 {
        color: green;
    } @else {
        color: yellow;
    }
}

@for $i from 10 to 30 by 10 {
    .col-$i {
        width: $i%;
    }
}

@each $icon in (foo, bar, baz) {
    .icon-$(icon) {
        background-url: url('/icons/$name.png');
    }
}

@define-mixin ja {
    html[lang="ja"] & {
        @mixin-content ;
    }
}

body {
    @mixin ja {
        background-color: blue;
    }
    background-color: red;
}

.parent {
    @at-root {
        .child {
            background: black;
        }
    }
    background: white;

    .child-1 {
        background: black;

        .child-2 {
            background: black;

            .child-3 {
                background: black;

                .child-4 {
                    background: black;

                    .child-5 {
                        background: black;
                    }
                }
            }
        }
    }

    &__child {
        background: black;
    }

    &__element {
        background: black;

        &--modifier {
            background: black;
        }
    }
}

.heading {
    font-size: 60px;
    font-weight: bold;
}

h1 {
    @extend .heading;
}

.phone {
    &_title {
        @media (max-width: 500px) {
            width: auto;
        }
        width: 500px;

        body.is_dark & {
            color: white;
        }
    }

    img {
        display: block;
    }
}

@media (min-width: 640px) {
    .foo {
        width: 300px;
    }
}

.content {
    $blue: #056ef0;
    $column: 200px;
    font-size: 40px;
    top: 4px;
    top: 0;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 18px;
    flex-basis: 1;
    background-color: white;
    border: solid 4px block;
    color: pink;
}

.testcomb {
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    top: 2px;
    bottom: 4px;
    margin: 4px 2px 4px 2px;
    padding: 0;
    background: none;
    background: white;
    background-color: red;
    border: none;
    border-radius: 3px;
    color: blue;
    vertical-align: middle;
    white-space: nowrap;
}